<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!-----===== JQUERY =====---->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>


    <!-----===== DataTables =====---->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

    <!----====== Bootstrap =====---->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

</head>

<body>
    <div id="nav-placeholder"></div>



    <section class="home">
        <div id="liveAlertPlaceholder"></div>


        <div class="text">Clientes</div>


        <div class=" container">
            <div>
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#clientModal">
                    <i class='bx bxs-user-plus'></i>Añadir cliente
                </button>
            </div>

            <div class="buttons">

            </div>

            <table id="myTable" class="display">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="Client: ${Clients}">

                        <td th:text="|${Client.name} ${Client.firstLastName} ${Client.firstSecondName}|"></td>
                        <td th:text="${Client.email}"></td>
                        <td th:text="${Client.address}"></td>
                        <td>
                            <a class="edit" data-bs-toggle="modal" data-bs-target="#clientModal"
                               th:data-id="${Client.id}"
                               th:data-name="${Client.name}"
                               th:data-first-lastname="${Client.firstLastName}"
                               th:data-second-lastname="${Client.firstSecondName}"
                               th:data-email="${Client.email}"
                               th:data-address="${Client.address}"
                               th:data-address-complemet="${Client.addressComplement}"
                               th:data-state="${Client.state}"
                               th:data-city="${Client.city}"
                               th:data-postal-code="${Client.postalCode}"
                               th:data-occupation="${Client.occupation}"
                               th:data-working-on="${Client.workingOn}"
                               th:data-birthplace="${Client.birthplace}"
                               th:data-birthday="${Client.birthday}"
                               th:data-civil-status="${Client.civilStatus}"
                               th:data-arrangement-properties="${Client.arrangementProperty}"><i class='bx bxs-edit-alt'></i></a>
                            <!-- th:data-phone=""
                                 th:data-phone-type=""-->
                            <a class="delete" data-bs-toggle="modal" data-bs-target="#deleteModal" th:data-id="${Client.id}" th:data-name="|${Client.name} ${Client.firstLastName} ${Client.firstSecondName}|" ><i class='bx bxs-trash'></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div id="clientModal" class="modal fade  modal-lg">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form  th:action="@{/Clients/Save}" th:object="${Client}" method="post" id="form">
                        <div class="modal-header">
                            <h4 class="modal-title">Agregar Cliente</h4>
                            <button type="button" class="btn-close modal_btn_close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input id="id" th:field="*{id}" type="text" class="form-control" hidden>
                            </div>
                            <div class="form-group">
                                <label>Nombre(s)</label>
                                <input id="name" th:field="*{name}" type="text" class="form-control" required="true">
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label>Apellido paterno</label>
                                    <input id="first-surname" th:field="*{firstLastName}"  type="text" class="form-control" required="">
                                </div>
                                <div class="form-group col">
                                    <label>Apellido materno</label>
                                    <input id="second-surname" th:field="*{firstSecondName}"  type="text" class="form-control" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Correo</label>
                                <input id="email" th:field="*{email}"  type="email" class="form-control" required="">
                            </div>

                            <div class="row ">
                                <div class="form-group col">
                                    <label>Telefono 1</label>
                                    <!--th:field="*{phone}" -->
                                    <input id="phone"  type="text" class="form-control" required="true">
                                </div>

                                <div class="form-group col">
                                    <label>Tipo</label>
                                    <!--th:field="*{phone-type}"-->
                                    <select id="phone-type"   class="form-select" required="true">
                                        <option selected="" value="0" disabled>Selecciona una opción</option>
                                        <option>Casa</option>
                                        <option>Celular</option>
                                        <option>Trabajo</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Dirección 1</label>
                                <input id="address" th:field="*{address}"  type="text" class="form-control" required="true">
                            </div>
                            <div class="form-group">
                                <label>Dirección 2</label>
                                <input id="address-complement" th:field="*{addressComplement}"  type="text" class="form-control" required="true">
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label>Estado</label>
                                    <select id="states" th:field="*{state}"  class="form-control bfh -states" required="true">
                                        <option selected="" value="0" disabled>Selecciona una opción</option>
                                    </select>

                                </div>
                                <div class="form-group col">
                                    <label>Localidad</label>
                                    <select id="city" th:field="*{city}"  class="form-select" required="true">
                                        <option selected="" value="0" disabled>Selecciona una opción</option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <label>Codigo Postal</label>
                                    <input id="postal-code" th:field="*{postalCode}"  type="text" class="form-control"  required="true" maxlength="5">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label>Ocupacion</label>
                                    <input id="occupation" th:field="*{occupation}"  type="text" class="form-control"  required="true">
                                </div>
                                <div class="form-group col">
                                    <label>Trabaja en</label>
                                    <input id="working-on" th:field="*{workingOn}"  type="text" class="form-control"  required="true">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label>Lugar de nacimiento</label>
                                    <input id="birthplace" th:field="*{birthplace}"  type="text" class="form-control"  required="true">
                                </div>
                                <div class="form-group col">
                                    <label>Fecha de nacimiento</label>
                                    <input type="date" id="birthday" th:field="*{birthday}" required="true" class="form-control" name="trip-start" value=""
                                           min="1900-01-01" max="2025-12-31">
                                </div>
                            </div>


                            <div class="form-group">
                                <label>Estado civil</label>
                                <select id="civil-status" th:field="*{civilStatus}" required="true" class="form-select" aria-label="Default select example">
                                    <option selected="" value="0" disabled>Selecciona una opción</option>
                                    <option value="Soltero">Soltero(a)</option>
                                    <option value="Casado">Casado(a)</option>
                                    <option value="Divorciado(a)">Divorciado(a)</option>
                                    <option value="Separado(a)">Separado(a)</option>
                                    <option value="Union_Libre">Union Libre</option>
                                    <option value="Viudo">Viudo(a)</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Regimen de bienes</label>
                                <select id="arrangement-property" th:field="*{arrangementProperty}"  class="form-select"
                                    aria-label="Default select example" required="true">
                                    <option selected="" value="0" disabled>Selecciona una opción</option>
                                    <option value="Mancomunados">Mancomunados</option>
                                    <option value="Separados">Separados</option>
                                    <option value="Mixto">Mixto</option>
                                    <option value="Na">No aplica</option>

                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" id="" class="btn btn-default modal_btn_close" data-bs-dismiss="modal"
                                value="Cancel">
                            <input type="submit" class="btn btn-dark" value="Guardar">
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div id="deleteModal" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Eliminar</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a href="" class="btn btn-primary">Si, deseo eliminarlo</a>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <script>
        const select = document.querySelector("#states");
        const citySelect = document.querySelector("#city");

        const states = fetch("/data/data.json")
            .then(response => {
                return response.json();
            })
            .then(data => {
                Object.keys(data).forEach(state => {
                    var opt = document.createElement('option');
                    opt.value = state;
                    opt.innerHTML = state;
                    select.appendChild(opt);
                });
                var opt = document.createElement('option');
                opt.value = "Otro";
                opt.innerHTML = "Otro";
                select.appendChild(opt);
                return data;
            });


        select.addEventListener("change", (event) => {
            const result = event.target.value;
            citySelect.innerText = null;
            const promise1 = Promise.resolve(states);
            promise1.then((value) => {
                value[result].forEach(city => {
                    var opt = document.createElement('option');
                    opt.value = city;
                    opt.innerHTML = city;
                    citySelect.appendChild(opt);
                });
            });

        });
        $('.modal_btn_close').click(function () {
            document.getElementById('name').value = "";
            document.getElementById('first-surname').value = "";
            document.getElementById('first-surname').value = "";
            document.getElementById('email').value = "";
            document.getElementById('phone').value = "";
            document.getElementById('phone-type').value = "0";
            document.getElementById('address').value = "";
            document.getElementById('address-complement').value = "";
            document.getElementById('states').value = "0";
            document.getElementById('city').value = "0";
            document.getElementById('postal-code').value = "";
            document.getElementById('occupation').value = "";
            document.getElementById('working-on').value = "";
            document.getElementById('birthday').value = "";
            document.getElementById('civil-status').value = "0";
            document.getElementById('arrangement-property').value = "0";
        });

        $.get("../components/nav.html", function (data) {
            $("#nav-placeholder").replaceWith(data);
        });

        $(document).ready(function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información disponible en la tabla",
                    "info": "Mostrando del _START_ al _END_ de un total de  _TOTAL_ entradas",
                    "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                    "infoFiltered": "(Filtrando de  un total de _MAX_  entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrando _MENU_ entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "",
                    "search": "Busqueda:",
                    "zeroRecords": "No se encontraron resultados",
                    "paginate": {
                        "first": "Primera",
                        "last": "Ultima",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                }
            });

            const deleteModal = document.getElementById('deleteModal');
            if (deleteModal) {
                deleteModal.addEventListener('show.bs.modal', event => {
                    const button = event.relatedTarget
                    const id = button.getAttribute('data-id')
                    const name = button.getAttribute('data-name')

                    const modalSubmitButton = deleteModal.querySelector('.modal-footer a')
                    const modalBody = deleteModal.querySelector('.modal-body')

                    modalBody.innerHTML = `¿Estas seguro de que deseas eliminar a ${name}?`;
                    modalSubmitButton.href = `Clients/delete/${id}`
        })}

        const updateModal = document.getElementById('clientModal');
            if (updateModal) {
                updateModal.addEventListener('show.bs.modal', event => {
                    const button = event.relatedTarget
                    document.getElementById('id').value = button.getAttribute('data-id');
                    document.getElementById('name').value = button.getAttribute('data-name');
                    document.getElementById('first-surname').value = button.getAttribute('data-first-lastname');
                    document.getElementById('second-surname').value = button.getAttribute('data-second-lastname');
                    document.getElementById('email').value = button.getAttribute('data-email');
                    document.getElementById('phone').value = "";
                    document.getElementById('phone-type').value = "0";
                    document.getElementById('address').value = button.getAttribute('data-address');
                    document.getElementById('address-complement').value = button.getAttribute('data-address-complemet');
                    document.getElementById('states').value = button.getAttribute('data-state');
                    document.getElementById('city').value = button.getAttribute('data-city');
                    document.getElementById('postal-code').value = button.getAttribute('data-postal-code');
                    document.getElementById('occupation').value = button.getAttribute('data-occupation');
                    document.getElementById('working-on').value = button.getAttribute('data-working-on');
                    document.getElementById('birthplace').value = button.getAttribute('data-birthplace');
                    document.getElementById('birthday').value = button.getAttribute('data-birthday');
                    document.getElementById('civil-status').value = button.getAttribute('data-civil-status');
                    document.getElementById('arrangement-property').value = button.getAttribute('data-arrangement-properties');
                })}

            $("form").submit(function(){
                if($('#id').val() === ""){
                    const element = document.getElementById("id");
                    element.remove();
                }
                return true;
    });
        });
    </script>

</body>

</html>